{% extends "base2.html" %} 
{% block title %}Air Calculator{% endblock %}
{% block style_specs %}
<link
      href="https://uploads-ssl.webflow.com/62e8b794c129c6d31dfb3e87/css/g-ks-dandy-site.webflow.19a544437.css"
      rel="stylesheet"
      type="text/css"
    />
{% endblock %}
{% block content %} 
<div class="section cc-home-wrap">
    <section class="features-list wf-section">
      <div class="container-2">
        <div class="features-wrapper-two">
          <div class="features-left">
            <h1 class="heading-3">Let&#x27;s Calculate Your AC</h1>
            <p class="features-paragraph">
              Global temperatures are on the rise. Save money and energy while
              staying cool through<br />Airflex&#x27;s advanced Air
              Conditioning Calculator.
            </p>
          </div>
          <ul role="list" class="features-right w-list-unstyled">
            <li class="features-block-two">
              <img
                src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
                loading="lazy"
                alt=""
                class="features-image"
              />
              <p class="paragraph">
                Discover how much you spend on an average day, and ways to
                save money
              </p>
            </li>
            <li class="features-block-two">
              <img
                src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg"
                loading="lazy"
                alt=""
                class="features-image"
              />
              <p class="paragraph-2">
                Keep track of your progress, and slowly increase savings
                over time
              </p>
            </li>
            <li class="features-block-two">
              <img
                src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a55c612aae2_portfolio%202%20-%20wide.svg"
                loading="lazy"
                alt=""
                class="features-image"
              />
              <p class="paragraph-3">
                Find a suggested temperature based on local climate and AC
                effeciency
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <section class="hero-heading-center wf-section">
    <div class="container-2">
      <h2 class="centered-heading margin-bottom-32px">
        What is your AC&#x27;s BTU rating?
      </h2>
      <p class="margin-bottom-24px">
        (insert description of BTU rating and how to find it...)
      </p>
    </div>
    <form method="POST">
        <label for="BTU_rating">Ranging from 1,000 to 100,000</label>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            id="BTU_rating"
            name="BTU_rating"
            placeholder="E.g. 40000"
            min="1000"
            max="100000"
          />
        </div>
        <button type="submit" class="btn btn-primary">Okay</button>
      </form>
  </section>
{% endblock %}