{% extends "base2.html" %} {% block title %}Air Calculator{% endblock %} {%
block style_specs %}
<link
  href="https://uploads-ssl.webflow.com/62e8b794c129c6d31dfb3e87/css/g-ks-dandy-site.webflow.19a544437.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="section cc-home-wrap">
  <section class="features-list wf-section">
    <div class="container-2">
      <div class="features-wrapper-two">
        <div class="features-left">
          <h1 class="heading-3">Let&#x27;s Calculate Your AC</h1>
          <p class="features-paragraph">
            Global temperatures are on the rise. Save money and energy while
            staying cool through<br />Airflex&#x27;s advanced Air Conditioning
            Calculator.
          </p>
        </div>
        <ul role="list" class="features-right w-list-unstyled">
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph">
              Discover how much you spend on an average day, and ways to save
              money
            </p>
          </li>
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph-2">
              Keep track of your progress, and slowly increase savings over time
            </p>
          </li>
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a55c612aae2_portfolio%202%20-%20wide.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph-3">
              Find a suggested temperature based on local climate and AC
              effeciency
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<section class="hero-heading-center wf-section">
  <!--Next Question Request Script-->
  <script>
    $(function () {
      $("a#calculate").bind("click", function () {
        console.log("clicked");
        $.getJSON(
          '{{url_for("views.next_question")}}',
          {
            a: $('input[name="a"]').val(),
            b: $('input[name="b"]').val(),
          },
          function (data) {
            $("#result").text(data.result);
          }
        );
        return false;
      });
    });
  </script>
  <h1>jQuery Example</h1>
  <p>
    <input type="text" size="5" name="a" /> +
    <input type="text" size="5" name="b" /> = <span id="result">?</span>
  </p>
  <p><a href="home" id="calculate">calculate server side</a></p>

  <!--Form scripts-->
  <script>
    function LoadNextQuestion(QuestionID,parent = null) {
      console.log("load next question run")
      let el = document.getElementById(QuestionID)
      if (parent == null){
        el.style = "display:block";
        el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
      }
      else {
        if (document.getElementById(parent).value.length != 0){
          el.style = "display:block";
          el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
        }
      }
    }
  </script>
  <form method="POST" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
      <!--BTU RATING-->
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your AC&#x27;s BTU rating?
        </h2>
      </div>
      <label for="BTU_rating">BTU ranging from 1,000 to 80,000</label>
      <input
        type="number"
        class="form-control"
        id="BTU_rating"
        name="BTU_rating"
        placeholder="E.g. 40,000"
        step = "1"
        min="1000"
        max="100000"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('EER_form','BTU_rating');}"
      />
      <br />
      <button type="button" onclick="LoadNextQuestion('wattage_form')">
        Not Sure
      </button>
      <br />
    </div>

    <!--WATTAGE-->
    <div class="form-group" style="display: none" id="wattage_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your AC&#x27;s wattage?
        </h2>
      </div>
      <label for="wattage">Wattage ranging from 83 to 6,667</label>
      <input
        type="number"
        class="form-control"
        id="wattage"
        name="wattage"
        placeholder="E.g. 2,000"
        step = "1"
        min="83"
        max="6667"
        onkeydown = "if (event.key == 'Enter') {LoadNextQuestion('EER_form','wattage');}"
      />
      <br />
      <button type="button" onclick="LoadNextQuestion('size_form')">
        Not Sure
      </button>
      <br />
    </div>

    <!--SIZE-->
    <div class="form-group" style="display: none" id="size_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your AC&#x27;s size?
        </h2>
      </div>
      <input type="radio" id="size-small" name="size" value="small" />
      <label for="size-small">Small</label><br />
      <input type="radio" id="size-medium" name="size" value="medium" />
      <label for="size-medium">Medium</label><br />
      <input
        type="radio"
        id="size-large"
        name="size"
        value="large"
      />
      <label for="size-large">Large</label>
      <br />
      <button type="button" onclick="LoadNextQuestion('type-form')">Next</button>
      <br />
    </div>

    <!--TYPE-->
    <div class="form-group" style="display: none" id="type-form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your AC&#x27;s type?
        </h2>
      </div>
      <input type="radio" id="type-central" name="type" value="central" />
      <label for="type-central">Central</label><br />
      <input type="radio" id="type-window" name="type" value="medium" />
      <label for="type-window">Window</label><br />
      <input
        type="radio"
        id="type-mini_split"
        name="type"
        value="mini_split"
      />
      <label for="type-mini_split">Mini Split</label>
      <br />
      <button type="button" onclick="LoadNextQuestion('EER_form')">Next</button>
      <br />
    </div>

    <!--EER-->
    <div class="form-group" style="display: none" id="EER_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your AC&#x27;s Energy Efficiency Ratio (EER, average is 8.5)?
        </h2>
      </div>
      <label for="EER">EER ranging from 6.0 to 12.0</label>
      <input
        type="number"
        class="form-control"
        id="EER"
        name="EER"
        placeholder="E.g. 7.5"
        value = "8.5"
        step="0.5"
        min="6.0"
        max="12.0"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('hours_form','EER');}"
      />
      <br />
      <button type="button" onclick="LoadNextQuestion('hours_form')">Not Sure</button>
      <br />
    </div>

    <!--HOURS-->
    <div class="form-group" style="display: none" id="hours_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What how many hours did you have your AC turned on today (estimate)?
        </h2>
      </div>
      <label for="hours">Hours ranging from 0.0 to 24.0</label>
      <input
        type="number"
        class="form-control"
        id="hours"
        name="hours"
        placeholder="E.g. 12"
        step = "0.5"
        min="0"
        max="24"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('temp_form','hours');}"
      />
      <br />
    </div>

    <!--TEMP-->
    <div class="form-group" style="display: none" id="temp_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What temperature was your AC set to today?
        </h2>
      </div>
      <label for="temp">Temperature ranging from 0 to 100</label>
      <input
        type="number"
        class="form-control"
        id="temp"
        name="temp"
        placeholder="E.g. 72"
        step = "1"
        min="0"
        max="100"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('local_temp_question','temp');}"
      />
      <br />
    </div>

    <!--AVG_LOCAL_TEMP_QUESTION-->
    <div class="form-group" style="display: none" id="local_temp_question">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          Would you like to use average temperatures for your area?
        </h2>
      </div>
      <button type="button" onclick="LoadNextQuestion('day-avg-temp_form')">Yes</button>
      <br />
      <button type="button" onclick="LoadNextQuestion('major-city_form')">No</button>
      <br />
    </div>

    <!--AVG_TEMP_AND_HIGH-->
    <div class="form-group" style="display: none" id="day-avg-temp_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What was the average temperature in your area today?
        </h2>
      </div>
      <label for="temp">Temperature ranging from -150 to 150</label>
      <input
        type="number"
        class="form-control"
        id="day-avg-temp"
        name="day-avg-temp"
        placeholder="E.g. 88"
        step = "1"
        min="-150"
        max="150"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('day-high-temp_form','day-avg-temp');}"
      />
      <br />
    </div>
    <div class="form-group" style="display: none" id="day-high-temp_form">
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What was the high temperature in your area today?
        </h2>
      </div>
      <label for="temp">Temperature ranging from -150 to 150</label>
      <input
        type="number"
        class="form-control"
        id="day-high-temp"
        name="day-high-temp"
        placeholder="E.g. 97"
        step = "1"
        min="-150"
        max="150"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('save_form','day-avg-temp');}"
      />
      <br />
    </div>

  <!--MAJOR_CITY-->
  </div>
  <div class="form-group" style="display: none" id="major-city_form">
    <div class="container-2">
      <h2 class="centered-heading margin-bottom-32px">
        What is your closest major city?
      </h2>
    </div>
    <label for="temp">Temperature ranging from -150 to 150</label>
    <input
      type="text"
      class="form-control"
      id="major-city"
      name="major-city"
      placeholder="E.g. Long Beach"
      onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('save_form','major-city');}"
    />
    <br />
  </div>

  <!--SAVE-->
</div>
<div class="form-group" style="display: none" id="save_form">
  <div class="container-2">
    <h2 class="centered-heading margin-bottom-32px">
      Would you like to save your data today?
    </h2>
  </div>
  <input type="radio" id="save-yes" name="save" value="1" />
      <label for="save_yes">Yes</label><br />
      <input type="radio" id="save-no" name="save" value="0" />
      <label for="save-no">No</label><br />
      <button id="submit_button" type="submit" class="btn btn-primary">Done</button>
</div>
    <button type="reset" class="btn btn-primary">Reset</button>
  </form>
</section>
{% endblock %}
